.pr {
  border: 1px solid #121416;
  border-radius: 2px;
  background-color: #FFFFFF;
  padding: 7px;
  margin: 2px 4px;
  width: auto;
  display: inline-block;
  min-width: 240px;
  position: relative;
  border-left: 20px solid #FFFFFF;
}
.pr.blocked {
  
  /* -webkit-box-shadow: inset 0px 0px 5px 0px rgba(18,20,22,1), inset 0px 0px 58px -1px rgba(0,190,0,0.2);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(18,20,22,1), inset 0px 0px 58px -1px rgba(0,190,0,0.2);
  box-shadow: inset 0px 0px 5px 0px rgba(18,20,22,1), inset 0px 0px 58px -1px rgba(0,190,0,0.2); */
 
  border-color: rgba(0,190,0,0.8);
}
.pr.behind {
  border-color: #5a7fa9cc;
}
.pr a {
  text-decoration: none;
}

.pr .comments {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: inline-block;
}
.pr .comments a:hover {
  text-decoration: none;
}

.title {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

.jiraLink {
  float: right;
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  margin-left: 5px;
}

.branchName {
  font-size: 14px;
}

.name {
  text-decoration: none;
}

.branchStatus {
  margin-right: 4px;
}
