.pr {
  border: 1px solid #121416;
  border-radius: 2px;
  background-color: #FFFFFF;
  padding: 7px;
  margin: 2px 4px;
  width: auto;
  display: inline-block;
  min-width: 240px;
  position: relative;
  border-left: 20px solid #FFFFFF;
}
.pr::after {
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  overflow-wrap: break-word;
  width: 10px;
  position: absolute;
  top: 3px;
  left: -15px;
}
.pr.clean {
  border-color: #00bd00;
}
.pr.clean::after {
  content: "READY";
}
.pr.behind {
  border-color: #949699;
}
.pr.behind::after {
  font-size: 14px;
  line-height: 14px;
  content: "BEHIND";
}
.pr.dirty {
  border-color: #FF5613;
}
.pr.dirty::after {
  color: #FFFFFF;
  font-size: 11px;
  line-height: 11px;
  content: "CONFLICT";
}
.pr.blocked {
  border-color: #00bd00;
}
.pr.blocked::after {
  top: 10px;
  font-size: 15px;
  line-height: 15px;
  content: "READY";
}
.pr a {
  text-decoration: none;
}

.pr .comments {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: inline-block;
}
.pr .comments a:hover {
  text-decoration: none;
}

.fail {
  color: #ff1a1a;
}
.success {
  color: #00bd00;
}
.pending {
  color: #7582a3;
}

.title {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

.jiraLink {
  float: right;
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  margin-left: 5px;
}

.branchName {
  font-size: 14px;
}

.name {
  text-decoration: none;
}

.branchStatus {
  margin-right: 4px;
}
