.repository {
  margin-bottom: 30px;
}

.name {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  vertical-align: middle;
  line-height: 30px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}

.status {
  display: inline-block;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.empty,
.empty .name {
  font-style: italic;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: lowercase;
}