@import url('https://fonts.googleapis.com/css?family=Ruda');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Anaheim');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Anaheim');


body {
background-color: #272B30;
color: #999999;
padding-top: 20px;
padding-bottom: 20px;
font-family: "Anaheim";
font-variant: small-caps;
letter-spacing: 1.1px;
font-size: 14px;
line-height: 17px;
text-align: left;
}

